:host {
  box-sizing: border-box;
  display: block;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  min-width: 80px;
  min-height: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  &.focus {
    background: red;
  }
}
