:host {
  z-index: 1;
  position: absolute;
  top: 0;
  padding-top: var(--spreadSheetTopBarHeight);
  left: 0;
  width: var(--spreadSheetLeftBarWidth);
  > * {
    border: 1px solid blue;
  }
  .row {
    position: relative;
  }
  .line {
    width: 100vw;
    background-color: red;
    height: 5px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
}
