:host {
  --spreadSheetLeftBarWidth: 30px;
  --spreadSheetTopBarHeight: 30px;

  position: relative;
  display: block;
  box-sizing: border-box;
  > * {
    box-sizing: border-box;
  }

  .column {
    height: auto;
  }

  .content {
    position: relative;
    margin-left: var(--spreadSheetLeftBarWidth);
    padding-top: var(--spreadSheetTopBarHeight);
    width: auto;
    height: auto;
    display: block;
  }
}
